*.log
wandb/
output/
old/
mind/
.hypothesis/
__pycache__/
.DS_Store
.vscode/
.idea/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
.coverage.*
data/
eval_cls.pytest_cache
eval.sh
main.sh
main.py 
pipeline.py
process.py
test_eval.py 
test.py 